DEBUG=changeme
DJANGO_SECRET_KEY=changeme
ALLOWED_HOSTS=changeme
DEVELOPMENT_MODE=changeme
SQL_ENGINE = changeme
MYSQL_DATABASE_NAME=changeme
MYSQL_USER=changeme
MYSQL_PASSWORD=changeme
DATABASE_HOST=changeme
MYSQL_PORT=changeme
CELERY_BROKER=changeme