/docker-compose.yml
venv/
.env
.kube/
gestionhydro-k8s-kubeconfig.yaml
minikube-darwin-arm64
/data
.kube/k8s-gestionhydro-kubeconfig.yaml
db
data
app
docs
/vol/
/assets/


# Python cache
__pycache__/
*.py[cod]

/enreg/migrations/
/accounts/migrations/

.idea/