aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
annotated-types==0.7.0
anyio==4.12.0
arabic-reshaper==3.0.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==3.0.1
attrs==25.3.0
Authlib==1.6.5
bandit==1.8.0
billiard==4.2.1
black==24.10.0
bleach==6.3.0
boto3==1.39.4
boto3-stubs==1.39.17
botocore==1.39.4
botocore-stubs==1.42.14
Brotli==1.1.0
CacheControl==0.14.4
cachetools==6.2.4
celery==5.5.3
celery-types==0.23.0
certifi==2025.10.5
cffi==1.17.1
cfgv==3.5.0
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coloredlogs==15.0.1
coverage==7.10.6
crispy-bootstrap4==2025.6
cron-descriptor==1.4.5
cryptography==45.0.5
cssselect2==0.8.0
decorator==5.2.1
distlib==0.4.0
dj-database-url==3.0.1
Django==5.2.1
django-anymail==12.0
django-appconf==1.1.0
django-celery-beat==2.8.1
django-compressor==4.5.1
django-countries==8.2.0
django-crispy-forms==2.5
django-debug-toolbar==4.4.6
django-environ==0.12.0
django-extensions==3.2.3
django-filter==25.1
django-mysql==4.17.0
django-rosetta==0.10.2
django-storages==1.14.6
django-stubs==5.2.8
django-stubs-ext==5.2.8
django-timezone-field==7.1
django-weasyprint==2.4.0
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
djangorestframework-gis==1.2.0
djangorestframework-stubs==3.16.6
dparse==0.6.4
ecdsa==0.19.1
et_xmlfile==2.0.0
execnet==2.1.2
executing==2.2.1
factory_boy==3.3.1
Faker==33.1.0
filelock==3.12.4
firebase_admin==7.1.0
flake8==7.1.1
flatbuffers==25.2.10
flower==2.0.1
fonttools==4.58.5
freezegun==1.5.5
frozenlist==1.7.0

google-api-core==2.28.1
google-auth==2.45.0
google-cloud-core==2.5.0
google-cloud-firestore==2.21.0
google-cloud-storage==3.7.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
greenlet==3.2.4
grpcio==1.76.0
grpcio-status==1.76.0
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
h3==4.3.1
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
humanize==4.13.0
hyperframe==6.1.0
identify==2.6.15
idna==3.10
iniconfig==2.3.0
ipython==8.30.0
isort==5.13.2
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.2
jproperties==2.1.2
kombu==5.5.4
lxml==6.0.0
Markdown==3.8
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==4.1.0
matplotlib-inline==0.2.1
mccabe==0.7.0
mdurl==0.1.2
msal==1.34.0
msgpack==1.1.2
multidict==6.6.3
mypy_extensions==1.1.0
nltk==3.9.2
nodeenv==1.9.1
numpy==2.3.1
openlocationcode==1.0.1
openpyxl==3.1.5
oscrypto==1.3.0
packaging==25.0
pandas==2.3.0
pandas-stubs==2.3.2.250926
parso==0.8.5
pathspec==0.12.1
pdf2image==1.17.0
pexpect==4.9.0
phonenumbers==9.0.9
pillow==11.3.0
platformdirs==4.5.0
playwright==1.55.0
pluggy==1.6.0
polib==1.2.0
pre_commit==4.3.0
prometheus_client==0.23.1
prompt_toolkit==3.0.51
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.33.2
psutil==6.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
pydyf==0.11.0
pyee==13.0.0
pyfakefs==5.9.3
pyflakes==3.2.0
Pygments==2.19.2
pyHanko==0.29.1
pyhanko-certvalidator==0.27.0
PyJWT==2.10.1
PyMySQL==1.1.2
pypdf==5.7.0
pyphen==0.17.2
pysonar==1.2.1.3951
pytest==8.3.4
pytest-base-url==2.1.0
pytest-cov==7.0.0
pytest-django==4.9.0
pytest-playwright==0.7.1
pytest-responses==0.5.1
pytest-xdist==3.8.0
python-bidi==0.6.6
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-http-client==3.3.7
python-json-logger==4.0.0
python-slugify==8.0.4
pytz==2025.2
PyYAML==6.0.2
rcssmin==1.1.2
redis==6.4.0
regex==2025.10.23
reportlab==4.4.2
requests==2.32.5
responses==0.25.8
rich==14.2.0
rjsmin==1.2.2
rsa==4.9.1
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
s3transfer==0.13.0
safety==3.2.10
safety-schemas==0.0.17
scipy==1.16.2
sendgrid==6.12.4
sentry-sdk==2.34.1
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sqlparse==0.5.3
stack-data==0.6.3
stevedore==5.6.0
stripe==12.4.0
svglib==1.5.1
text-unidecode==1.3
timezonefinder==8.0.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tomli==2.2.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
twilio==9.6.4
typer==0.20.0
types-awscrt==0.30.0
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20250913
types-s3transfer==0.16.0
typing-inspection==0.4.2
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
uritools==5.0.0
urllib3==2.5.0
valkey==6.1.1
vine==5.1.0
virtualenv==20.35.4
wcwidth==0.2.13
weasyprint==65.1
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.45.1
xhtml2pdf==0.2.17
yarl==1.20.1
zopfli==0.2.3.post1
