celery>=5.3.6
cryptography>=42.0.4
Django>=4.2.10
django-crispy-forms>=2.1
django-debug-toolbar>=4.3.0
django-jsignature>=0.12
djangorestframework>=3.14.0
openpyxl>=3.1.2
pandas>=2.2.0
pillow>=10.2.0
PyJWT>=2.8.0
PyMySQL>=1.1.0
PyPDF3>=1.0.6
PyQRCode>=1.2.1
python-dotenv>=1.0.1
requests>=2.31.0
xhtml2pdf>=0.2.15
XlsxWriter>=3.2.0
