{% extends 'rapportsBrutesJournalierRequisition.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}


{% block content %}
{#    {% render_table table %}#}

   <table id="data-table" class="table table-bordered display responsive" style="width:100%">
            <thead>
                <tr>
                    <th>DATE</th>
                    <th>FRONTIERE</th>
                    <th>DECLARATION</th>
                    <th>FOURNISSEUR</th>
                    <th>ENTREPOT</th>
                    <th>IMMATRICULATION</th>
                    <th>PRODUIT</th>
                    <th>VOL.DECLARE</th>
                </tr>
            </thead>
        </table>



<script>
    $(document).ready(function () {
        var dataTable = $('#data-table').DataTable({
            processing: true,
            serverSide: true,
            responsive: true,
            autoWidth: true,
            ajax: {
                url: '{% url 'responseBrutJournalier' %}',
                type: 'GET',
            },
            columns: [
                { data: 'dateheurecargaison__date' },
                { data: 'frontiere__nomville' },
                { data: 'declaration' },
                { data: 'importateur__nomimportateur' },
                { data: 'entrepot__nomentrepot' },
                { data: 'immatriculation' },
                { data: 'produit__nomproduit' },
                { data: 'volume' },
            ],
            // Optional: Add buttons for exporting to Excel
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: 'Export to Excel',
                    filename: 'rapport_brut',
                    exportOptions: {
                        modifier: {
                            search: 'none'
                        }
                    },
                    action: function (e, dt, node, config) {
                        // Redirect to the export URL instead of using AJAX
                        window.location.href = '{% url 'exportRapportBrutAnalyse' %}?export=excel';
                    }
                }
            ],
        });
    });
</script>

{% endblock %}




