{% extends 'rapportsBrutes.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}


{% block content %}

    <div class="modal fade" id="modal-rapport">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Filtres des rapports</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <form action="{% url 'rapportBrut' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {% crispy form %}
                </div>
              </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
      <!-- /.modal -->

    <div class="modal fade" id="modal-details">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Listes des documents</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <form action="" method="post">
                <div class="modal-body">

                </div>
              </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
      <!-- /.modal -->


{#    {% render_table table %}#}
    <div id="progress-bar-container" style="display: none;" class="mt-3">
                    <div id="progress-bar" class="progress" style="border-radius: 25px">
                        <div id="progress-bar-inner" class="progress-bar" role="progressbar" style="width: 0%;border-radius: 25px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div id="progress-bar-label" class="mt-2">Exporting...</div>
    </div>



    <table id="data-table" class="table table-bordered display responsive" style="width:100%">
            <thead>
                <tr>
                    <th>DATE ENTR.</th>
                    <th>FRONTIERE</th>
                    <th>#DECL.</th>
                    <th>FOURNISSEUR</th>
                    <th>ENTREPOT</th>
                    <th>IMMATRICULATION</th>
                    <th>PRODUIT</th>
                    <th>DATE REQ.</th>
                    <th>DATE ECH.</th>
                    <th>DATE REC.LABO</th>
                    <th>DATE ANALYSE</th>
                    <th>DATE INSPEC.</th>
                    <th>DATE DECH.</th>
                    <th>VOL. DECL.</th>
                    <th>VOL. JAUGE</th>
                    <th>VOL. METER</th>
                    <th>DENS.</th>
                    <th>TEMP.</th>
                    <th>VCF</th>
                    <th>MTA</th>
                    <th>MTV</th>
                    <th>GSV</th>
                    <th>GSV Meter</th>
                    <th>FRAIS USD</th>
                    <th></th>
                </tr>
            </thead>
    </table>


<!-- Initialize DataTables -->
<script>
    $(document).ready(function () {
        var dataTable = $('#data-table').DataTable({
            lengthChange: false, // Display the length change dropdown
            ordering: false,
            processing: true,
            serverSide: true,
            responsive: true,
            ajax: {
                url: '{% url 'rapportBrutResponse' %}',
                type: 'GET',
                beforeSend: function() {
                  $('#data-table-wrapper .loading-spinner').show();
                },
                // Hide the loading spinner after DataTable processing
                complete: function() {
                  $('#data-table-wrapper .loading-spinner').hide();
                }
            },
            columns: [
                { data: 'dateheurecargaison__date' }, // Use array index to access 'dateheurecargaison__date'
                { data: 'frontiere__nomville' }, // Use array index to access 'frontiere__nomville'
                { data: 'declaration' }, // Use array index to access 'importateur__nomimportateur'
                { data: 'importateur__nomimportateur' }, // Use array index to access 'entrepot__nomentrepot'
                { data: 'entrepot__nomentrepot' }, // Use array index to access 'produit__nomproduit'
                { data: 'immatriculation' },
                { data: 'produit__nomproduit' },
                { data: 'requisitiondackdate__date' },
                { data: 'entrepot_echantillon__dateechantillonage__date' },
                { data: 'entrepot_echantillon__laboreception__datereceptionlabo__date' },
                { data: 'impressionresultat__printDate' },
                { data: 'inspection__dateinspection__date' },
                { data: 'dateDechargement__date' },
                { data: 'volume' },
                { data: 'volJauge' },
                { data: 'govMeter' },
                { data: 'inspection__dens' },
                { data: 'inspection__temp' },
                { data: 'inspection__compartiment__vcf' },
                { data: 'mtaTotal' },
                { data: 'mtvTotal' },
                { data: 'gsvJauge' },
                { data: 'gsvMeter' },
                { data: 'fraisOcc_rounded' },
                { // New column configuration
                    data: 'idcargaison',
                    render: function (data, type, row) {
                        // 'data' contains the value of 'idcargaison' for this row

                        // Include a button to submit the JSON data for the row
                        const submitAfficher = '<button class="btn btn-info afficher-btn" data-row-id="' + data + '">AFFICHER</button> ';

                        return submitAfficher;
                    }
                }// Use array index to access 'immatriculation'
            ],

        });

        // Event listener for opening the modal
        $('#data-table').on('click', '.afficher-btn', function() {
          var rowId = $(this).data('row-id');
          dataRow = rowId;
          console.log(dataRow);

          {#// Load content into the modal body via AJAX#}
          {#$('#modal-lg .modal-body').load(linkURL);#}
          {#// Show the modal#}
          $('#modal-details').modal('show');
        });
    })
</script>


    <script>
document.addEventListener("DOMContentLoaded", function() {
    // Add click event listener to the export link
    document.querySelector("#export-link").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default action of the link

        // Hide the export link
        this.style.display = "none";

        // Show the progress bar
        document.getElementById("progress-bar-container").style.display = "block";

        // Start the export process
        startExport();
    });
});

async function startExport() {
    event.preventDefault();

    try {

        // Make an AJAX request to start the export process
        const response = await fetch('{% url "rapportBrutResponseExport" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json', // Specify JSON content type
                'X-CSRFToken': '{{ csrf_token }}', // Include CSRF token in the request header

            },

        });
		console.log(response)

        // Check if the response is successful
        if (!response.ok) {
            throw new Error('Failed to start export task.');
        }

        // Parse the response as JSON
        const data = await response.json();

        // Update progress bar based on task ID
        if (data.task_id) {
            updateProgressBar(data.task_id);
        } else {
            throw new Error('Task ID not found in response.');
        }
    } catch (error) {
        console.error('An error occurred:', error);
    }
}

function updateProgressBar(taskId) {
    const progressBar = document.getElementById('progress-bar-inner');
    const progressBarLabel = document.getElementById('progress-bar-label');

    function checkProgress() {
        // Get the parameter value from the input field or any other source
        const parameterValue = parseInt(document.getElementById('parameter-input').value);

        fetch(`/shydro/checkExportTaskStatus/${taskId}?parameter=${parameterValue}`)
            .then(response => response.json())
            .then(data => {
                if (data.state === 'PENDING') {
                    const progress = data.progress;
                    progressBar.style.width = progress + '%';
                    progressBar.setAttribute('aria-valuenow', progress);
                    progressBarLabel.textContent = `Exporting... ${progress}%`;
					const parameterInput = document.getElementById('parameter-input');
					parameterInput.value = progress;
                    // Check progress again after 1 second
                    setTimeout(checkProgress, 1000);
                } else if (data.state === 'SUCCESS') {
					// Update progress bar to 100%
					progressBar.style.width = '100%';
					progressBar.setAttribute('aria-valuenow', 100);
					progressBarLabel.textContent = 'Export completed!';

					// Trigger file download
					downloadFile(data.result.file_url, data.result.file_name);
				} else if (data.state === 'FAILURE') {
                    // Task failed, display error message or retry option
                    progressBarLabel.textContent = 'Export failed!';
                } else {
                    // Handle other task states as needed
                }
            });
    }

    // Start checking progress
    checkProgress();
}


function downloadFile(fileUrl, fileName) {
    // Create an anchor element
    const anchor = document.createElement('a');
    anchor.href = fileUrl;
    anchor.download = fileName;

    // Append the anchor to the body and trigger a click event
    document.body.appendChild(anchor);
    anchor.click();

    // Remove the anchor from the body
    document.body.removeChild(anchor);
}
</script>


{% endblock %}




