{% extends 'rapportsBrutes.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}


{% block content %}
{#    {% render_table table %}#}

   <table id="data-table" class="table table-bordered display responsive" style="width:100%">
            <thead>
                <tr>
                    <th>Date/Heure</th>
                    <th>Frontiere</th>
                    <th>Declaration</th>
                    <th>Importateur</th>
                    <th>Entrepot</th>
                    <th>Immatriculation</th>
                    <th>Produit</th>
                    <th>Volume</th>
                    <th>Date Requisition</th>
                    <th>Date Echantillonnage</th>
                    <th>Date Reception Labo</th>
                </tr>
            </thead>
        </table>

{#     <!-- Optional: Add Bootstrap JavaScript for table styling -->#}
{#    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>#}

    <!-- Include FileSaver.js library for saving the Excel file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<script>
    $(document).ready(function () {
        var dataTable = $('#data-table').DataTable({
            processing: true,
            serverSide: true,
            responsive: true,
            ajax: {
                url: '{% url 'responseRapportBrutAnalyse' %}',
                type: 'GET',
            },
            columns: [
                { data: 'dateheurecargaison__date' },
                { data: 'frontiere__nomville' },
                { data: 'declaration' },
                { data: 'importateur__nomimportateur' },
                { data: 'entrepot__nomentrepot' },
                { data: 'immatriculation' },
                { data: 'produit__nomproduit' },
                { data: 'volume' },
                { data: 'requisitiondackdate' },
                { data: 'entrepot_echantillon__dateechantillonage' },
                { data: 'entrepot_echantillon__laboreception__datereceptionlabo' },
            ],
            // Optional: Add buttons for exporting to Excel
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: 'Export to Excel',
                    filename: 'rapport_brut',
                    exportOptions: {
                        modifier: {
                            search: 'none'
                        }
                    },
                    action: function (e, dt, node, config) {
                        // Redirect to the export URL instead of using AJAX
                        window.location.href = '{% url 'exportRapportBrutAnalyse' %}?export=excel';
                    }
                }
            ],
        });
    });
</script>


{% endblock %}




