{% extends 'rapportsBrutes.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}


{% block content %}
    {% render_table table %}

{#   <table id="data-table" class="table table-bordered display responsive" style="width:100%">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th>DATE ENTREE</th>#}
{#                    <th>FRONTIERE</th>#}
{#                    <th>DECL.#.T1D</th>#}
{#                    <th>FOURNISSEUR</th>#}
{#                    <th>ENTREPOT</th>#}
{#                    <th>IMMATRICULATION</th>#}
{#                    <th>PRODUIT</th>#}
{#                    <th>DATE REQ.</th>#}
{#                    <th>DATE ECHANT.</th>#}
{#                    <th>DATE REC.LABO</th>#}
{#                    <th>DATE ANALYSE</th>#}
{#                    <th>DATE INSPECT.</th>#}
{#                    <th>DATE DECHARG.</th>#}
{#                    <th>VOL.DECL</th>#}
{#                    <th>VOL.JAUGE(GOV)</th>#}
{#                    <th>DENSITE (15)</th>#}
{#                    <th>TEMP.ATA</th>#}
{#                    <th>MTA</th>#}
{#                    <th>GSV JAUGEE</th>#}
{#                    <th>GSV COMPTEUR</th>#}
{#                    <th>FRAIS</th>#}
{#                </tr>#}
{#            </thead>#}
{#        </table>#}

     <!-- Optional: Add Bootstrap JavaScript for table styling -->
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

    <!-- Include FileSaver.js library for saving the Excel file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

{#    {% csrf_token %}#}




{% endblock %}




