{% extends 'rapportsBrutes.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}


{% block content %}

    <div class="modal fade" id="modal-rapport">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Filtres des rapports</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <form action="{% url 'rapportFiltres' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {% crispy form %}
                </div>
              </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
      <!-- /.modal -->

    <div class="modal fade" id="modal-details">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Listes des documents</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <div class="modal-body" id="impressionResultatsList">
                    <!-- File list will be displayed here -->
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
      <!-- /.modal -->

    {% render_table table %}

    <script>
document.addEventListener("DOMContentLoaded", function() {
    // Add click event listener to the export link
    document.querySelector("#export-link").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default action of the link

        // Hide the export link
        this.style.display = "none";

        // Show the progress bar
        document.getElementById("progress-bar-container").style.display = "block";

        // Start the export process
        startExport();
    });
});

async function startExport() {
    event.preventDefault();

    try {

        // Make an AJAX request to start the export process
        const response = await fetch('{% url "rapportBrutExport" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json', // Specify JSON content type
                'X-CSRFToken': '{{ csrf_token }}', // Include CSRF token in the request header

            },

        });
		console.log(response)

        // Check if the response is successful
        if (!response.ok) {
            throw new Error('Failed to start export task.');
        }

        // Parse the response as JSON
        const data = await response.json();

        // Update progress bar based on task ID
        if (data.task_id) {
            updateProgressBar(data.task_id);
        } else {
            throw new Error('Task ID not found in response.');
        }
    } catch (error) {
        console.error('An error occurred:', error);
    }
}

function updateProgressBar(taskId) {
    const progressBar = document.getElementById('progress-bar-inner');
    const progressBarLabel = document.getElementById('progress-bar-label');

    function checkProgress() {
        // Get the parameter value from the input field or any other source
        const parameterValue = parseInt(document.getElementById('parameter-input').value);

        fetch(`/shydro/checkExportTaskStatus/${taskId}?parameter=${parameterValue}`)
            .then(response => response.json())
            .then(data => {
                if (data.state === 'PENDING') {
                    const progress = data.progress;
                    progressBar.style.width = progress + '%';
                    progressBar.setAttribute('aria-valuenow', progress);
                    progressBarLabel.textContent = `Exporting... ${progress}%`;
					const parameterInput = document.getElementById('parameter-input');
					parameterInput.value = progress;
                    // Check progress again after 1 second
                    setTimeout(checkProgress, 1000);
                } else if (data.state === 'SUCCESS') {
					// Update progress bar to 100%
					progressBar.style.width = '100%';
					progressBar.setAttribute('aria-valuenow', 100);
					progressBarLabel.textContent = 'Export completed!';

					// Trigger file download
					downloadFile(data.result.file_url, data.result.file_name);
				} else if (data.state === 'FAILURE') {
                    // Task failed, display error message or retry option
                    progressBarLabel.textContent = 'Export failed!';
                } else {
                    // Handle other task states as needed
                }
            });
    }

    // Start checking progress
    checkProgress();
}


function downloadFile(fileUrl, fileName) {
    // Create an anchor element
    const anchor = document.createElement('a');
    anchor.href = fileUrl;
    anchor.download = fileName;

    // Append the anchor to the body and trigger a click event
    document.body.appendChild(anchor);
    anchor.click();

    // Remove the anchor from the body
    document.body.removeChild(anchor);
}
</script>

<script>
$(document).ready(function() {
    // Add click event listener to the button class
    $('.openModalBtn').click(function() {
        // Retrieve the idcargaison value from the data attribute
        var idcargaison = $(this).data('idcargaison');

        // Trigger the modal corresponding to the clicked button
        openModal(idcargaison);
    });

    function openModal(idcargaison) {
        // Make an AJAX request to fetch files for the given idcargaison
        $.ajax({
            url: "{% url 'getDocuments' %}", // Use Django url template tag to get the URL
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token in request headers
            },
            data: {
                idcargaison: idcargaison  // Pass idcargaison as data
            },
            success: function(response) {
            // Display data in modal body
            var pdf_re = response.pdf_re;
            var pdf_ri = response.pdf_ri;
            var pdf_cq = response.pdf_cq;

            // Display PDFs
            displayPdf('pdf_re', pdf_re, '#pdf_re_container');
            displayPdf('pdf_ri', pdf_ri, '#pdf_ri_container');
            displayPdf('pdf_cq', pdf_cq, '#pdf_cq_container');
        },
        error: function(xhr, status, error) {
            console.error('Failed to fetch files:', error);
        }
        });

        // Open the modal corresponding to the idcargaison
        $('#modal-details').modal('show');

        // Store the idcargaison into a variable or perform any other operation
        console.log("idcargaison:", idcargaison);
    }

    // Function to display PDFs
function displayPdf(pdfType, pdfData, containerSelector) {
    var container = $(containerSelector);
    if (pdfData) {
        // If PDF data is available, display "Document available" and add a download button
        container.html('<p>Document available</p><button onclick="downloadPdf(\'' + pdfData + '\')">Download</button>');
    } else {
        // If PDF data is not available, display "Document not available"
        container.html('<p>Document not available</p>');
    }
}

// Function to download PDF
function downloadPdf(pdfData) {
    // Decode base64 encoded string and create a blob
    var byteCharacters = atob(pdfData);
    var byteNumbers = new Array(byteCharacters.length);
    for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
    }
    var byteArray = new Uint8Array(byteNumbers);
    var blob = new Blob([byteArray], { type: 'application/pdf' });

    // Create a temporary anchor element and trigger download
    var a = document.createElement('a');
    a.href = window.URL.createObjectURL(blob);
    a.download = 'document.pdf';
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
}



});
</script>



{% endblock %}




