{% extends 'base_facturations_partial.html' %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% block extrahead %}
    {{ form.media }}
{% endblock %}


{% block content %}
    {#    {% render_table facturations %}#}

    <div class="modal fade" id="partiel-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Informations du BL</h4>
                </div>
                <div class="modal-body">
                    <div id="liquidationData"></div>
                    <form method="post" action="" id="post-form">
                        {% csrf_token %}
                        {% crispy form %}
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-primary">Enregistrer</button>
                        </div>

                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>



    <div class="card-body p-0">
        <div class="table-responsive">
            <table id="data-table" class="table table-bordered display responsive" style="width:100%">
                <thead>
                <tr>
                    <th>DATE D'ENTREE</th>
                    <th>FRONTIERE</th>
                    <th>#DECL.T1E</th>
                    <th>IMPORTATEUR</th>
                    <th>ENTREPOT</th>
                    <th>PRODUIT</th>
                    <th>VOL.DECL</th>
                    <th>DATE DECH.</th>
                    <th>VOL.A 15 (GSV)</th>
                    <th></th>
                </tr>
                </thead>

                <script>
                    $(document).ready(function () {
                        // Reinitialize the DataTable with updated data
                        $('#data-table').DataTable({
                            lengthChange: false,
                            searching: true,
                            ordering: false,
                            processing: true,
                            serverSide: true,
                            responsive: true,
                            paging: true,
                            caption: false,
                            info: false,
                            ajax: {
                                url: "{% url 'partialResponse' %}",
                                type: 'GET',
                                beforeSend: function () {
                                    $('#data-table-wrapper .loading-spinner').show();
                                },
                                complete: function () {
                                    $('#data-table-wrapper .loading-spinner').hide();
                                }
                            },
                            columns: [
                                {data: 'dateheurecargaison'},
                                {data: 'frontiere__nomville'},
                                {data: 'declaration'},
                                {data: 'importateur__nomimportateur'},
                                {data: 'entrepot__nomentrepot'},
                                {data: 'produit__nomproduit'},
                                {data: 'volume'},
                                {data: 'dateDechargement'},
                                {data: 'gsvTotal'},
                                { // New column configuration
                                    data: 'idcargaison',
                                    render: function (data, type, row) {
                                        const affichagedetails = '<button class="btn btn-info affichagedetails-btn" data-row-id="' + data + '">APPURER</button> ';
                                        return affichagedetails;
                                    }
                                }

                            ],
                        });
                    })

                </script>
            </table>

        </div>
        <!-- /.table-responsive -->
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        var dataRow;
        const csrfToken = '{{ csrf_token }}';

        // Event listener for opening the modal
        $('#data-table').on('click', '.affichagedetails-btn', function() {
          var rowId = $(this).data('row-id');
          dataRow = rowId;
          var linkURL = "{% url 'partialResponseData' %}?pk=" + rowId;

          $.ajax({
                url: linkURL,
                type: 'GET',
                success: function(response) {
                    // Replace the content of div with id liquidationData with the response
                    $('#liquidationData').html(response);
                    // Show the modal
                    $('#partiel-modal').modal('show');
                },
                error: function(xhr, status, error) {
                    // Handle errors if any
                    console.error(xhr.responseText);
                }
            });

        });



        $('.btn.btn-primary').click((function (e) {
            e.preventDefault()
            var pk = dataRow;
            var APIurl = "{% url 'saisiebl' %}";
            $input = $('<input type="hidden" name="pk">').val(pk);
            $('#post-form').append($input);
            var SerializedData = $("#post-form").serialize();
            console.log(SerializedData);
            $.ajax({
                url: APIurl,
                type: "POST",
                data: SerializedData,
                headers: {
                    'X-CSRFToken': csrfToken, // Set the CSRF token as a request header
                },
                success: function (response) {
                    // Display success SweetAlert
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Your operation was successful!',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $('#partiel-modal').modal('hide');
                            $('#data-table').DataTable().ajax.reload(); // Reload the table
                        }
                    });
                },
                error: function (error) {
                    // Display error SweetAlert
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while processing your request!',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $('#partiel-modal').modal('hide');
                            $('#data-table').DataTable().ajax.reload(); // Reload the table
                        }
                    });
                    // Handle errors if any
                    console.error('AJAX request failed:', error);
                }
            });
        }))



    </script>


{% endblock %}
