{% extends 'shydro/rapportActivite.html' %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block modal %}
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Filtres</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <form action="{% url 'rapportActiviteFiltre' %}" method="post">
            <div class="modal-body">
                {% csrf_token %}
                {% crispy form %}
            </div>
              </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% endblock %}


{% block export %}
    <a href="{% export_url "xlsx" %}" class="btn btn-success">EXPORT. EXCEL</a>
{% endblock %}

{% block content %}
    {% render_table table %}

<script>
var rowId;

const csrfToken = '{{ csrf_token }}';

function confirmAction() {
    event.preventDefault(); // Prevent the default action of the anchor element

    // Get the row element containing the clicked button
    const row = event.target.closest('tr');

    // Get the value of the "id" attribute from the row element
    rowId = row.getAttribute('id');

    // Store the rowId in a variable or use it as needed
    console.log('Row ID:', rowId);

    // Display a confirmation dialog to the user
    const confirmed = confirm('Êtes-vous sûr de vouloir réinspecter cette cargaison?');

    // If the user confirms, send the rowId to your endpoint
    if (confirmed) {
        // Make an AJAX request to your endpoint with the rowId
        // Replace 'yourEndpointURL' with your actual endpoint URL
        fetch('{% url "reInspecter" %}', {
            method: 'POST', // or 'GET', 'PUT', etc., depending on your API
            body: JSON.stringify({ rowId: rowId }), // Send the rowId in the request body
            contentType: 'application/json', // Set content type to JSON
            headers: {
                'X-CSRFToken': csrfToken, // Set the CSRF token as a request header
            },
        })
        .then(response => {
            // Handle the response from the server
            if (response.ok) {
                // Request was successful
                // You can perform any necessary actions here
                console.log('Row ID sent to the server successfully.');
                alert('Cargaison renvoyée en inspection');
                window.location.reload();
            } else {
                // Request failed
                console.error('Failed to send Row ID to the server.');
                alert('Une erreur s\'est produite lors de la réinspection.');
                window.location.reload();
            }
        })
        .catch(error => {
            console.error('An error occurred:', error);
        });
    }

    // Return false to prevent the anchor from navigating
    return false;
}


function printRappEchantillonnage() {
    event.preventDefault(); // Prevent the default action of the anchor element

    // Get the row element containing the clicked button
    const row = event.target.closest('tr');

    // Get the value of the "id" attribute from the row element
    rowId = row.getAttribute('id');

    // Store the rowId in a variable or use it as needed
    console.log('Row ID:', rowId);

    // Display a confirmation dialog to the user
    const confirmed = confirm("Afficher le rapport d'Echantillonnage?");

    // If the user confirms, send the rowId to your endpoint
    if (confirmed) {
        // Make an AJAX request to your endpoint with the rowId
        // Replace 'yourEndpointURL' with your actual endpoint URL
        fetch('{% url "impressionRappEch" %}', {
            method: 'POST', // or 'GET', 'PUT', etc., depending on your API
            body: JSON.stringify({ rowId: rowId }), // Send the rowId in the request body
            contentType: 'application/json', // Set content type to JSON
            headers: {
                'X-CSRFToken': csrfToken, // Set the CSRF token as a request header
            },
        })
        .then(response => response.json()) // Parse the JSON response
        .then(data => {
            if (data.status === 'success') {
                // Decode the PDF content from the response
                var pdfContent = atob(data.pdf_base64);

                // Create a Blob object from the decoded PDF content
                var pdfBlob = new Blob([pdfContent], { type: 'application/pdf' });

                // Create a URL for the Blob object
                var pdfURL = URL.createObjectURL(pdfBlob);

                // Open the PDF in a new browser window
                window.open(pdfURL);

                location.reload();
            } else {
                // Request failed
                console.error('Failed to generate PDF.');
                alert("Un ou plusieurs éléments du rapport d'echantillannage sont manquants.");
                window.location.reload();
            }
        })
        .catch(error => {
            console.error('An error occurred:', error);
        });
    }

    // Return false to prevent the anchor from navigating
    return false;
}


function printRappInspection() {
    event.preventDefault(); // Prevent the default action of the anchor element

    // Get the row element containing the clicked button
    const row = event.target.closest('tr');

    // Get the value of the "id" attribute from the row element
    rowId = row.getAttribute('id');

    // Store the rowId in a variable or use it as needed
    console.log('Row ID:', rowId);

    // Display a confirmation dialog to the user
    const confirmed = confirm("Afficher le rapport d'Inspection?");

    // If the user confirms, send the rowId to your endpoint
    if (confirmed) {
        // Make an AJAX request to your endpoint with the rowId
        // Replace 'yourEndpointURL' with your actual endpoint URL
        fetch('{% url "impressionRappInsp" %}', {
            method: 'POST', // or 'GET', 'PUT', etc., depending on your API
            body: JSON.stringify({ rowId: rowId }), // Send the rowId in the request body
            contentType: 'application/json', // Set content type to JSON
            headers: {
                'X-CSRFToken': csrfToken, // Set the CSRF token as a request header
            },
        })
        .then(response => response.json()) // Parse the JSON response
        .then(data => {
            if (data.status === 'success') {
                // Decode the PDF content from the response
                var pdfContent = atob(data.pdf_base64);

                // Create a Blob object from the decoded PDF content
                var pdfBlob = new Blob([pdfContent], { type: 'application/pdf' });

                // Create a URL for the Blob object
                var pdfURL = URL.createObjectURL(pdfBlob);

                // Open the PDF in a new browser window
                window.open(pdfURL);

                location.reload();
            } else {
                // Request failed
                console.error('Failed to generate PDF.');
                alert("Un ou plusieurs éléments du rapport d'inspection sont manquants.");
                window.location.reload();
            }
        })
        .catch(error => {
            console.error('An error occurred:', error);
        });
    }

    // Return false to prevent the anchor from navigating
    return false;
}



</script>

</script>
{% endblock %}


