{% extends 'labo/lab_base_impression.html' %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block formsearch %}
 <div class="row">
      <a class="btn btn-app bg-warning" href="{% url 'impression' %}">
                  <span class="badge bg-purple"></span>
                  <i class="fas fa-backward"></i> Retour
      </a>
      <a class="btn btn-app bg-success" data-toggle="modal" data-target="#modal-default">
                      <span class="badge bg-purple"></span>
                      <i class="fas fa-print"></i> Re-impression
      </a>

{#        <div class="col-md-2">#}
{#                            <a href="" data-toggle="modal" data-target="#modal-default" class="btn btn-info" role="button">Re-impression</a>#}
{#        </div>#}
{#         <div class="col-md-2">#}
{#            <a href="{% url 'impression' %}"><button class="btn btn-danger"><i class="fa fa-backward"></i>Retour</button></a>#}
{#                 </div>#}
      </div><!-- /.container-fluid -->

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Recherche des Archives</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="get" action="{% url 'recherchecqr' %}">
                  <div class="input-group input-group-sm" style="width: 400px;">
                    <input type="text" name="codelabo" class="form-control float-right" placeholder="Recherche par code Labo...">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                         </form>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% endblock%}

{% block content %}
{#    {% render_table labo %}#}
    <div id="data-table-wrapper" style="position: relative;">
  <div class="loading-spinner"></div>
<table id="data-table" class="table table-bordered display responsive" style="width:100%">
    <thead>
        <tr>
            <th>DATE</th>
            <th>CODE LABO</th>
            <th>NUM. CERTIFICAT</th>
            <th>FOURNISSEUR</th>
            <th>ENTREPOT</th>
            <th>PRODUIT</th>
            <th>ACTION(s)</th>
{#            <th>#.T1D</th>#}
{#            <th>#.REQ.</th>#}
{#            <th>SAISIE REF.REQ.</th> <!-- New column header -->#}
        </tr>
    </thead>
</table>
</div>

<!-- Include FileSaver.js library for saving the Excel file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<script>
    const csrfToken = '{{ csrf_token }}';

    $(document).ready(function () {
        var dataTable = $('#data-table').DataTable({
            lengthChange: false, // Display the length change dropdown
            processing: true,
            serverSide: true,
            responsive: true,
            ajax: {
                url: '{% url 'responseAffichagetableauimpression' %}',
                type: 'GET',
                // Show the loading spinner during DataTable processing
                // Show the loading spinner during DataTable processing
                beforeSend: function() {
                  $('#data-table-wrapper .loading-spinner').show();
                },
                // Hide the loading spinner after DataTable processing
                complete: function() {
                  $('#data-table-wrapper .loading-spinner').hide();
                }
        },
            columns: [
                { data: 'dateReceptionLabo' },
                { data: 'codelabo' },
                { data: 'numcertificatqualite' },
                { data: 'nomimportateur' },
                { data: 'nomentrepot' },
                { data: 'nomproduit' },
                { // New column configuration
                    data: 'idcargaison',
                    render: function (data, type, row) {
                        // Include a button to submit the JSON data for the row
                        const submitButton = '<button class="btn-warning" data-row-id="' + data + '">PRINT</button>';

                        return submitButton;
                    }
                }
            ],
        });

        // Handle form submission on button click
        $('#data-table').on('click', '.btn-warning', function () {
            const rowId = $(this).data('row-id');
            const jsonData = $('#input-' + rowId).val();
            const idcargaison = rowId;

            // Show the loading icon while waiting for the response
            $('#loading-icon').show();

            // Include 'idcargaison' in the JSON data to send to the server
            const dataToSend = {
                idcargaison: idcargaison,
            };

            console.log(dataToSend);

            // Send the JSON data to the URL using AJAX
            $.ajax({
                url: "{% url 'print' %}", // Replace with your actual URL
                type: 'POST',
                data: JSON.stringify(dataToSend), // Send as JSON string
                contentType: 'application/json', // Set content type to JSON
                headers: {
                    'X-CSRFToken': csrfToken, // Set the CSRF token as a request header
                },
                success: function (response) {
                    // Handle the success response here, if needed
                    console.log('Data submitted successfully.');
                    // Hide the loading icon after receiving the response
                    $('#loading-icon').hide();

                    // Decode the PDF content from the response
                    var pdfContent = atob(response.pdf_base64);

                    // Create a Blob object from the decoded PDF content
                    var pdfBlob = new Blob([pdfContent], { type: 'application/pdf' });

                    // Create a URL for the Blob object
                    var pdfURL = URL.createObjectURL(pdfBlob);

                    // Open the PDF in a new browser window
                    window.open(pdfURL);
                    // Reload the dataTable after a successful response
                    dataTable.ajax.reload();
                },
                error: function (error) {
                    // Handle the error response here, if needed
                    console.error('Error submitting data:', error);

                    dataTable.ajax.reload();

                    // Hide the loading icon after receiving the response
                    $('#loading-icon').hide();

                }
            });
        });

    });
</script>

{% endblock %}



