{% extends 'BaseLaboCQRapport.html' %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load crispy_forms_tags %}
{% block extrahead %}
    {{ form.media }}
    <!-- Include the DataTables Date Range Filter plugin CSS and JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock %}

{% block buttons %}
    <a class="btn btn-app bg-danger" href="{% url 'validation2' %}" >
                        <span class="badge bg-success"></span>
                        <i class="fas fa-backward"></i> Retour
                    </a>
                    <a class="btn btn-app bg-warning" data-toggle="modal" data-target="#modal-default">
                        <span class="badge bg-success"></span>
                        <i class="fas fa-filter"></i> Filtres
                    </a>

{% endblock %}


{% block content %}

     <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Filtres</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <form action="{% url 'rapportCqfiltres2' %}" method="post">
            <div class="modal-body">
                    {% csrf_token %}
                    {% crispy form %}
            </div>
                  </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

     <div id="progress-bar-container" style="display: none;" class="mt-3">
                    <div id="progress-bar" class="progress" style="border-radius: 25px">
                        <div id="progress-bar-inner" class="progress-bar" role="progressbar" style="width: 0%;border-radius: 25px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div id="progress-bar-label" class="mt-2">Exporting...</div>
    </div>

                    <a id="export-link" href="#" class="btn btn-app bg-success">
                        <span class="badge bg-success"></span>
                        <i class="fas fa-file"></i> EXPORT.EXCEL
                    </a>
    <input type="hidden" id="parameter-input" name="parameter" value="2">



     <div id="data-table-wrapper" style="position: relative;">
        <div class="loading-spinner"></div>
          <table id="data-table" class="table table-bordered display responsive" style="width:100%">
            <thead>
              <tr>
                  <th>DATE ECHANT.</th>
                <th>DATE RECEP.</th>
                <th>NUM.HYDRO</th>
                <th>NUM.RE</th>
                <th>CODE LABO</th>
                  <th>NUM.CQ</th>
                <th>ENTREPOT</th>
                <th>FOURNISSEUR</th>
                <th>IMMATRICULATION</th>
                <th>PRODUIT</th>
                <th>CONFORMITE</th>
              </tr>
            </thead>
          </table>
    </div>


    {#<!-- Include FileSaver.js library for saving the Excel file -->#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<script>


const csrfToken = '{{ csrf_token }}';
let dataTable;

$(document).ready(function () {
    dataTable = $('#data-table').DataTable({
    lengthChange: false, // Display the length change dropdown
    processing: true,
    serverSide: true,
    responsive: true,
    ajax: {
        url: '{% url 'rapportCqResponse' %}',
        type: 'GET',
        beforeSend: function() {
          $('#data-table-wrapper .loading-spinner').show();
        },
        // Hide the loading spinner after DataTable processing
        complete: function() {
          $('#data-table-wrapper .loading-spinner').hide();
        }
    },
    columns: [
        { data: 'entrepot_echantillon__dateechantillonage__date' }, // Use array index to access 'entrepot__nomentrepot'
        { data: 'entrepot_echantillon__laboreception__datereceptionlabo__date' }, // Use array index to access 'entrepot__nomentrepot'
        { data: 'numdos' }, // Use array index to access 'dateheurecargaison__date'
        { data: 'entrepot_echantillon__numrappechauto' }, // Use array index to access 'frontiere__nomville'
        { data: 'entrepot_echantillon__laboreception__codelabo' }, // Use array index to access 'importateur__nomimportateur'
        { data: 'entrepot_echantillon__laboreception__numcertificatqualite' }, // Use array index to access 'importateur__nomimportateur'
        { data: 'entrepot__nomentrepot' }, // Use array index to access 'entrepot__nomentrepot'
        { data: 'importateur__nomimportateur' }, // Use array index to access 'entrepot__nomentrepot'
        { data: 'immatriculation' }, // Use array index to access 'entrepot__nomentrepot'
        { data: 'produit__nomproduit' }, // Use array index to access 'entrepot__nomentrepot'
        { data: 'conformiteProduit' }, // Use array index to access 'entrepot__nomentrepot'
    ],

});
});
</script>


    <script>
document.addEventListener("DOMContentLoaded", function() {
    // Add click event listener to the export link
    document.querySelector("#export-link").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default action of the link

        // Hide the export link
        this.style.display = "none";

        // Show the progress bar
        document.getElementById("progress-bar-container").style.display = "block";

        // Start the export process
        startExport();
    });
});

async function startExport() {
    event.preventDefault();

    try {

        // Make an AJAX request to start the export process
        const response = await fetch('{% url "rapportCQExport" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json', // Specify JSON content type
                'X-CSRFToken': '{{ csrf_token }}', // Include CSRF token in the request header

            },

        });
		console.log(response)

        // Check if the response is successful
        if (!response.ok) {
            throw new Error('Failed to start export task.');
        }

        // Parse the response as JSON
        const data = await response.json();

        // Update progress bar based on task ID
        if (data.task_id) {
            updateProgressBar(data.task_id);
        } else {
            throw new Error('Task ID not found in response.');
        }
    } catch (error) {
        console.error('An error occurred:', error);
    }
}

function updateProgressBar(taskId) {
    const progressBar = document.getElementById('progress-bar-inner');
    const progressBarLabel = document.getElementById('progress-bar-label');

    function checkProgress() {
        // Get the parameter value from the input field or any other source
        const parameterValue = parseInt(document.getElementById('parameter-input').value);

        fetch(`/shydro/checkExportTaskStatus/${taskId}?parameter=${parameterValue}`)
            .then(response => response.json())
            .then(data => {
                if (data.state === 'PENDING') {
                    const progress = data.progress;
                    progressBar.style.width = progress + '%';
                    progressBar.setAttribute('aria-valuenow', progress);
                    progressBarLabel.textContent = `Exporting... ${progress}%`;
					const parameterInput = document.getElementById('parameter-input');
					parameterInput.value = progress;
                    // Check progress again after 1 second
                    setTimeout(checkProgress, 1000);
                } else if (data.state === 'SUCCESS') {
					// Update progress bar to 100%
					progressBar.style.width = '100%';
					progressBar.setAttribute('aria-valuenow', 100);
					progressBarLabel.textContent = 'Export completed!';

					// Trigger file download
					downloadFile(data.result.file_url, data.result.file_name);
				} else if (data.state === 'FAILURE') {
                    // Task failed, display error message or retry option
                    progressBarLabel.textContent = 'Export failed!';
                } else {
                    // Handle other task states as needed
                }
            });
    }

    // Start checking progress
    checkProgress();
}


function downloadFile(fileUrl, fileName) {
    // Create an anchor element
    const anchor = document.createElement('a');
    anchor.href = fileUrl;
    anchor.download = fileName;

    // Append the anchor to the body and trigger a click event
    document.body.appendChild(anchor);
    anchor.click();

    // Remove the anchor from the body
    document.body.removeChild(anchor);
}
</script>



{% endblock %}
