{% extends 'labo/lab_base_impression.html' %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block formsearch %}
 <div class="row">
      <a class="btn btn-app bg-yellow" href="{% url 'impression' %}">
                  <span class="badge bg-purple"></span>
                  <i class="fas fa-recycle"></i>REFRESH
      </a>

      </div><!-- /.container-fluid -->


{% endblock%}

{% block content %}
     <a class="btn btn-app bg-success" href="#" id="bulkPrint">
         <span class="badge bg-purple"></span>
         <i class="fas fa-print"></i>IMPRESSION
     </a>


     <div id="progress-bar-container" style="display: none;" class="mt-3">
                    <div id="progress-bar" class="progress" style="border-radius: 25px">
                        <div id="progress-bar-inner" class="progress-bar" role="progressbar" style="width: 0%;border-radius: 25px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div id="progress-bar-label" class="mt-2">Exporting...</div>
    </div>

    <input type="hidden" id="parameter-input" name="parameter" value="2">

    <div id="data-table-wrapper" style="position: relative;">
  <div class="loading-spinner"></div>
<table id="data-table" class="table table-bordered display responsive" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>DATE DE RECEPTION</th>
            <th>DATE D'ANALYSE</th>
            <th>CODE LABO</th>
            <th>NUM. CERTIFICAT</th>
            <th>FOURNISSEUR</th>
            <th>ENTREPOT</th>
            <th>PRODUIT</th>
            <th>ACTION(s)</th>

        </tr>
    </thead>
</table>
</div>

<!-- Include FileSaver.js library for saving the Excel file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script>
    var dataRow;
    var selectedRowIds = [];
    const csrfToken = '{{ csrf_token }}';

    $(document).ready(function () {
        var dataTable = $('#data-table').DataTable({
            language: {
            search: "RECHERCHE ARCHIVES" // Change this to your desired placeholder text
            },
            lengthChange: false, // Display the length change dropdown
            processing: true,
            serverSide: true,
            responsive: true,
            ordering:false,
            ajax: {
                url: '{% url 'responseAffichagetableauimpression' %}',
                type: 'GET',
                // Show the loading spinner during DataTable processing
                // Show the loading spinner during DataTable processing
                beforeSend: function() {
                  $('#data-table-wrapper .loading-spinner').show();
                },
                // Hide the loading spinner after DataTable processing
                complete: function() {
                  $('#data-table-wrapper .loading-spinner').hide();
                }
        },
            columns: [
                { // New column configuration for tick box
                    data: null,
                    render: function (data, type, row) {
                        // Render a tick box in each cell of this column
                        return '<input type="checkbox" class="tick-box" data-row-id="' + row.idcargaison + '">';
                    },
                    className: 'text-center', // Center align content in this column
                    title: '<input type="checkbox" id="tick-all">' // Add checkbox in the header
                },
                { data: 'dateReceptionLabo' },
                { data: 'impressionresultat__printDate' },
                { data: 'codelabo' },
                { data: 'numcertificatqualite' },
                { data: 'nomimportateur' },
                { data: 'nomentrepot' },
                { data: 'nomproduit' },
                { // New column configuration
                    data: 'idcargaison',
                    render: function (data, type, row) {
                        // Include a button to submit the JSON data for the row
                        const submitButton = '<button class="btn-warning" data-row-id="' + data + '">PRINT</button>';

                        return submitButton;
                    }
                }
            ],
        });


        // Event listener for individual tick boxes
        $(document).on('change', '.tick-box', function() {
            var rowId = $(this).data('row-id');
            if ($(this).prop('checked')) {
                selectedRowIds.push(rowId); // Store the row ID when the tick box is checked
                console.log(selectedRowIds);
            } else {
                var index = selectedRowIds.indexOf(rowId);
                if (index !== -1) {
                    selectedRowIds.splice(index, 1); // Remove the row ID if the tick box is unchecked
                    console.log(selectedRowIds);
                }
            }
        });


        // Event listener for the "Select All" checkbox
        $('#tick-all').on('change', function() {
            var checkboxes = $('.tick-box');
            checkboxes.prop('checked', $(this).prop('checked'));
            if ($(this).prop('checked')) {
                selectedRowIds = []; // Clear the selectedRowIds array
                checkboxes.each(function() {
                    var rowId = $(this).data('row-id');
                    selectedRowIds.push(rowId); // Store all row IDs when "Select All" is checked
                    console.log(selectedRowIds);
                });
            } else {
                selectedRowIds = []; // Clear the selectedRowIds array if "Select All" is unchecked
                console.log(selectedRowIds);
            }
        });





        // Handle form submission on button click
        $('#data-table').on('click', '.btn-warning', function () {
            const rowId = $(this).data('row-id');
            const jsonData = $('#input-' + rowId).val();
            const idcargaison = rowId;

            // Show the loading icon while waiting for the response
            $('#loading-icon').show();

            // Include 'idcargaison' in the JSON data to send to the server
            const dataToSend = {
                idcargaison: idcargaison,
            };

            console.log(dataToSend);

            // Send the JSON data to the URL using AJAX
            $.ajax({
                url: "{% url 'print' %}", // Replace with your actual URL
                type: 'POST',
                data: JSON.stringify(dataToSend), // Send as JSON string
                contentType: 'application/json', // Set content type to JSON
                headers: {
                    'X-CSRFToken': csrfToken, // Set the CSRF token as a request header
                },
                success: function (response) {
                    // Handle the success response here, if needed
                    console.log('Data submitted successfully.');
                    // Hide the loading icon after receiving the response
                    $('#loading-icon').hide();

                    // Decode the PDF content from the response
                    var pdfContent = atob(response.pdf_base64);

                    // Create a Blob object from the decoded PDF content
                    var pdfBlob = new Blob([pdfContent], { type: 'application/pdf' });

                    // Create a URL for the Blob object
                    var pdfURL = URL.createObjectURL(pdfBlob);

                    // Open the PDF in a new browser window
                    window.open(pdfURL);
                    // Reload the dataTable after a successful response
                    dataTable.ajax.reload();
                },
                error: function (error) {
                    // Handle the error response here, if needed
                    console.error('Error submitting data:', error);

                    dataTable.ajax.reload();

                    // Hide the loading icon after receiving the response
                    $('#loading-icon').hide();

                }
            });
        });

    });



$(document).ready(function() {
        $('#bulkPrint').click(function(event) {
            // Prevent the default action of the link
            event.preventDefault();
            if (selectedRowIds.length > 0) {
                this.style.display = "none";
                // Show the progress bar
                document.getElementById("progress-bar-container").style.display = "block";
                console.log(selectedRowIds);
                $.ajax({
                    type: 'POST', // or 'GET' depending on your server-side implementation
                    url: '{% url "impressionCertificatBulk" %}', // Replace 'your_desired_address_here' with your actual address
                    data: { selectedRowIds: selectedRowIds },
                    headers: {
                        'X-CSRFToken': csrfToken // Set the CSRF token as a request header
                    },
                    success: async function (response) {
                        $('#data-table').DataTable().ajax.reload(); // Reload the table
                        selectedRowIds = [];
                        console.log(response);

                        {#// Parse the response as JSON#}
                        {#const data = await response.json();#}

                        // Update progress bar based on task ID
                        if (response.task_id) {
                            updateProgressBar(response.task_id);
                            } else {
                            throw new Error('Task ID not found in response.');
                        }

                    },
                    error: function(error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Erreur lors du traitement de votre requête!',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $('#data-table').DataTable().ajax.reload(); // Reload the table
                                selectedRowIds = [];
                            }
                        });
                        {#// Handle errors if any#}
                        {#console.error('Error sending selected rows:', error);#}
                    }
                });
                $('#data-table').DataTable().ajax.reload();

                console.log(selectedRowIds);
            } else {
                Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Aucune case sélectionnée!',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $('#data-table').DataTable().ajax.reload(); // Reload the table
                                selectedRowIds = [];
                            }
                });
            }
        });
    });

function updateProgressBar(taskId) {
    const progressBar = document.getElementById('progress-bar-inner');
    const progressBarLabel = document.getElementById('progress-bar-label');

    function checkProgress() {
        fetch(`/shydro/checkExportTaskStatus/${taskId}`)
            .then(response => response.json())
            .then(data => {
                if (data.state === 'PENDING') {
                    const progress = data.progress;
                    progressBar.style.width = progress + '%';
                    progressBar.setAttribute('aria-valuenow', progress);
                    progressBarLabel.textContent = `Exporting... ${progress}%`;
                    setTimeout(checkProgress, 1000);
                } else if (data.state === 'SUCCESS') {
                    progressBar.style.width = '100%';
                    progressBar.setAttribute('aria-valuenow', 100);
                    progressBarLabel.textContent = 'Export completed!';
                    // Download PDF blob file
                    downloadFile(data.result.file_url, data.result.file_name);
                } else if (data.state === 'FAILURE') {
                    progressBarLabel.textContent = 'Export failed!';
                } else {
                    // Handle other task states as needed
                }
            });
    }

    checkProgress();
}

function downloadFile(fileUrl, fileName) {
    // Create an anchor element
    const anchor = document.createElement('a');
    anchor.href = fileUrl;
    anchor.download = fileName;

    // Append the anchor to the body and trigger a click event
    document.body.appendChild(anchor);
    anchor.click();

    // Remove the anchor from the body
    document.body.removeChild(anchor);
}

</script>




{% endblock %}



