{% extends 'labo/baseLaboDetailsResultat.html' %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load crispy_forms_tags %}


{% block content %}
    {% render_table table %}
{% endblock %}


{% block javascript %}
    <script>
            $(document).ready(function(){
              $('table td').each(
                function(){
                  var td_value = $(this).text();
                  if (td_value == "Hors norme" ) {
                    $(this).css('background', 'red');
                  }
                }
              );
            });
    </script>
{% endblock %}


