{% extends 'base_carg_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load qr_code %}


{% block extra_js %}
    <script src="{% static 'qrcodejs-master/qrcode.js' %}"></script>
    <script src="{% static 'qrcodejs-master/qrcode.min.js' %}"></script>
{% endblock %}


{% block content %}

    {% render_table table %}

    <div class="modal fade" id="modal-xl">
        <div class="modal-dialog modal-xl">
            <div class="modal-content bg-gradient-dark">
                <div class="modal-header bg-gradient-dark">
                    <h4 class="modal-title">FORMULAIRE D'ENREGISTREMENT</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="post-form" method="post" action="">
                    <div class="modal-body">
                        {% csrf_token %}
                        {% crispy form %}
                    </div>
                    <div id="submit-control" class="modal-footer justify-content-between">
                        <button type="reset" id="closemodal" class="btn btn-danger" data-dismiss="modal">FERMER</button>
                        <button id="submitButton" class="btn btn-success">ENREGISTRER</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="modal_qrcode">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">QR Code</h4>
                </div>
                <div class="modal-body">
                    <div id="codeQR"></div>
                </div>
                <div class="modal-footer justify-content-between">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



{% endblock %}

<script>

</script>

<script>

    {% block javascript %}
 // Function to get CSRF token
function getCSRFToken() {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, 'csrftoken'.length + 1) === ('csrftoken' + '=')) {
                cookieValue = decodeURIComponent(cookie.substring('csrftoken'.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

// AJAX setup for CSRF token
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            xhr.setRequestHeader("X-CSRFToken", getCSRFToken());
        }
    }
});


// Click handler for submit button
$('.btn.btn-success').click(function(e) {
    e.preventDefault();
    // Disable the button to prevent multiple submissions
    $(this).attr("disabled", true);

    // Create FormData object
    var formData = new FormData();

    // Serialize the form data and append to FormData
    var form = $('#post-form')[0];
    var formDataSerialized = $(form).serializeArray();
    $.each(formDataSerialized, function(_, kv) {
        formData.append(kv.name, kv.value);
    });

    // Get the selected file
    var file = $('#id_files')[0].files[0];
    if (!file) {
        alert('Please select a file.');
        // Re-enable the button
        $(this).attr("disabled", false);
        return;
    } else if (file.type !== 'application/pdf') {
        alert('Please select a PDF file.');
        // Re-enable the button
        $(this).attr("disabled", false);
        return;
    }

    // Append the file to FormData
    formData.append('files', file);

    // Read the file as text using FileReader
    var reader = new FileReader();
    reader.onload = function(event) {
        // File content as Base64
        var fileContent = event.target.result;

        // Append the file content to the FormData
        formData.append('file_content', fileContent);

        // Send AJAX request
        $.ajax({
            url: "{% url 'nouvelle' %}",
            type: "POST",
            data: formData,
            processData: false, // Prevent jQuery from processing the data
            contentType: false, // Prevent jQuery from setting contentType
            success: function(data) {
                console.log(data);
                var qrcode = new QRCode(document.getElementById("codeQR"), {
                    text: data,
                    width: 250,
                    height: 250,
                    colorDark: "#000000",
                    colorLight: "#ffffff",
                    correctLevel: QRCode.CorrectLevel.H
                });

                $('#modal-xl').modal('hide');
                alert("Data saved successfully");

                $('#modal_qrcode').modal('show');
                var modalFooter = '<button type="reset" id="closemodal" onClick="window.location.reload();" class="btn btn-danger" data-dismiss="modal">Close</button>';
                $('.modal-footer').html(modalFooter);
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
                alert('Error! Please check the mandatory fields and volume values entered');
                // Re-enable the button on error
                $('.btn.btn-success').attr("disabled", false);
            }
        });
    };

    // Read the file as text
    reader.readAsDataURL(file);
});


    {% endblock %}
</script>






