{% extends 'base_entrepot.html' %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}


{% block content %}

    {%render_table cargaison%}

    <div class="col-md-6">
        <!--Modal Rapport des encaissements-->
        <div class="modal" tabindex="-1" role="dialog" id="Echantilloner">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-gradient-dark">
                    <div class="modal-header">
                        <h3 class="modal-title">Enregistrement d'echantillon</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form id="post-form" method="post" action="">
                        <div class="modal-body">
                            {% csrf_token %}
                        {{ form | crispy }}

              </div>
              <div class="modal-footer">
                  <button id="submitButton" class="btn btn-success">Enregistrer</button>
                  <button type="reset" class="btn btn-danger" data-dismiss="modal">Annuler</button>
              </div>
                </form>
            </div>
          </div>
        </div>
    </div>

{% endblock %}

<script>
    {% block javascript %}
        // using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

        //script for submitting data in ajax
        $('.btn.btn-info').click(function () {
            Id = $(this).data('id'); //getting the id of the row which equal to the pk into the database
        });

        $('.btn.btn-success').click(function (e) {
            e.preventDefault()

            //Disable Submit button
            $('.btn.btn-success').attr("disabled", true);
            var pk = Id;
            var APIurl = "{% url 'echantilloner' %}";
     $input = $('<input type="hidden" name="pk">').val(pk);
     $('#post-form').append($input);
     var SerializedData = $("#post-form").serialize();
     console.log(SerializedData);
     $.ajax({
         url: APIurl,
         type: "POST",
         data: SerializedData,
         dataType: 'json',

         success: function () {
             alert("Données sauvegardées");
             location.reload();
         },

         error: function () {
             console.log('Erreur');
             alert("Erreur de données! Veuillez completer tous les champs obligatoires !");
             $('.btn.btn-success').attr("disabled", false);
             location.reload();
         }
     });
        })

    {% endblock %}
</script>

