{% extends 'base_dechargement.html' %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
    {% render_table cargaison %}
{% endblock %}

{#{% block content1 %}#}
{#    {% render_table rapport %}#}
{#{% endblock %}#}

{% block modal %}
    <div class="modal fade" id="modal-dech">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">DECHARGEMENT</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
{#              <form action="" method="post">#}
            <div class="modal-body">
                {% csrf_token %}
                {% crispy form %}
            </div>
{#              </form>#}
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% endblock %}



<script>
  {% block javascript %}
          // using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
      $.ajaxSetup({
          beforeSend: function (xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });

{#      //script for submitting data in ajax#}
{#      //      $('.btn.btn-primary').click(function () {#}
{#      $('.fas.fa-arrow-alt-circle-down').click(function () {#}
{#//      $('#idechant').click(function () {#}
{#          Id = $(this).data('id'); //getting the id of the row which equal to the pk into the database#}
{#          console.log(Id); //Sanity check#}
{#      });#}

      //script for submitting data in ajax
        $('.btn.btn-default').click(function () {
            Id = rowId; //getting the id of the row which equal to the pk into the database
            console.log('Test:',Id); // debug
        });



      $('.btn.btn-primary').click(function (e) {
          e.preventDefault()
          //Disable Submit button
          $('.btn.btn-primary').attr("disabled", true);
          var pk = Id;
          var APIurl = "{% url 'meterafter' %}";
          $input = $('<input type="hidden" name="pk">').val(pk);
          $('#meter-after').append($input);
          var SerializedData = $("#meter-after").serialize();
          console.log(SerializedData);
          $.ajax({
              url: APIurl,
              type: "POST",
              data: SerializedData,
              success: function () {
                  alert('Données sauvegardées')
                  console.log('Data Saved');
                  window.location.reload();
              },
              error: function () {
                  alert("Erreur! La cargaison selectionner n'a encore fait l'objet d'aucune inspection");
                  console.log('Data Not Saved');
                  $('.btn.btn-primary').attr("disabled", false);
                  location.reload();
              }
          });
      })

  {% endblock %}
</script>

